<div class="container">
  <a mat-stroked-button routerLink="/personagens" class="btn-voltar">
    <mat-icon>arrow_back</mat-icon>
    Voltar para a lista
  </a>

  <div class="content">
    @if (personagem(); as p) {
    <mat-card class="detalhe-card">
      <mat-card-header class="detalhe-header">
        <mat-card-title>{{ p.name }}</mat-card-title>
        <mat-card-subtitle>
          ID: {{ p.id }} - <span [class]="p.status.toLowerCase()">{{ p.status }}</span>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="p.image" [alt]="p.name" class="detalhe-imagem">

      <mat-card-content>
        <h3>Informações</h3>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>person</mat-icon>
            <span><strong>Espécie:</strong> {{ p.species }}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>transgender</mat-icon>
            <span><strong>Gênero:</strong> {{ p.gender }}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>public</mat-icon>
            <span><strong>Origem:</strong> {{ p.origin.name }}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>location_on</mat-icon>
            <span><strong>Localização Atual:</strong> {{ p.location.name }}</span>
          </mat-list-item>
          <mat-list-item role="listitem">
            <mat-icon matListItemIcon>movie</mat-icon>
            <span><strong>Aparece em:</strong> {{ p.episode.length }} episódio(s)</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-icon-button color="warn" (click)="onExcluir()">
          <mat-icon>delete</mat-icon>
        </button>
        <a mat-icon-button color="primary" [routerLink]="['/personagens', p.id, 'editar']">
          <mat-icon>edit</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>
    } @else {

    @if (loading()) {
    <div class="spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    } @else if (error()) {
    <div class="error-message">
      <p>{{ error() }}</p>
    </div>
    } @else {
    <p>Nenhum personagem para exibir.</p>
    }
    }
  </div>
</div>