<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ modoEdicao ? 'Editar Personagem' : 'Novo Personagem' }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-layout">
          <div class="form-fields">
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" required>
              @if (form.controls.name.touched && form.controls.name.errors?.['required']) {
              <mat-error>Nome é obrigatório.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Espécie</mat-label>
              <input matInput formControlName="species" required>
              @if (form.controls.species.touched && form.controls.species.errors?.['required']) {
              <mat-error>Espécie é obrigatória.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="Alive">Vivo</mat-option>
                <mat-option value="Dead">Morto</mat-option>
                <mat-option value="unknown">Desconhecido</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>URL da Imagem</mat-label>
              <input matInput formControlName="image" required>
              @if (form.controls.image.touched && form.controls.image.errors?.['required']) {
              <mat-error>URL da imagem é obrigatória.</mat-error>
              }
            </mat-form-field>
          </div>

          <div class="image-preview">
            @if (form.controls.image.value) {
            <img [src]="form.controls.image.value" alt="Preview da Imagem">
            } @else {
            <div class="placeholder-content">
              <mat-icon>image</mat-icon>
              <p>Preview da Imagem</p>
            </div>
            }
          </div>
        </div>

        <mat-card-actions align="end">
          <a mat-button routerLink="/personagens">Cancelar</a>
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Salvar
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>